<!DOCTYPE html>
<html lang="tr">

<head>
  <title>MCT GROUP BACA & KOLTUK TEMİZLEME - ESKİŞEHİR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="depPmfkNa9qWuQfZ5mqN7hwrH7-9Rb-_opDsRQMh-lM" />
  <meta name="robots" content="index, follow" />
  <meta name="title" content="MCT GROUP ESKİŞEHİR BACA TEMİZLEME" />
  <meta name="description" content="Eskişehirde Baca Temizleme ve Koltuk Temizleme ihtiyaçlarınıza kurumsal çözümler sunmaktayız" />
  <meta name="keywords" content="eskişehir baca, eskişehir baca temizleme, baca temizleme , koltuk temizleme , Eskişehir koltuk temizleme, işyeri koltuk temizleme , araba koltuk temizleme" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%-include('partials/header') %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/slider-1.jpg');">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <!-- <h1 class="pt-5"><span>İletişim</span></h1> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 order-2">
          <form id="message_form" action="/api/mail" method="post">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name">İsim</label>
                <input id="isim" type="text" name="isim" class="form-control ">
              </div>
              <div class="col-md-6 form-group">
                <label for="phone">Telefon</label>
                <input type="text" name="telefon" id="telefon" class="form-control ">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control ">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="message">Mesajınızı yazınız</label>
                <textarea name="mesaj" id="mesaj" class="form-control " cols="30" rows="8"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="submit" value="Send Message" class="btn btn-primary px-3 py-3">
                <span id="error_message" class="text-danger"></span>
                <span id="success_message" class="text-success"></span>
              </div>
            </div>
          </form>


          <div class="embed-responsive  embed-responsive-16by9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d911.4628259357315!2d30.528949539427433!3d39.78941842951708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc3e1e47d65b93%3A0x265042e6773d87d7!2zWmFmZXIsIENpYmFsaSBTay4gTm86MTEsIDI2MjIwIFRlcGViYcWfxLEvRXNracWfZWhpcg!5e0!3m2!1str!2str!4v1568748201212!5m2!1str!2str"
              frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>

        </div>
        <div class="col-md-6 order-2 mb-5" <% results.forEach(function(items){  %> <div class="row justify-content-right">
          <div class="col-md-8 mx-auto contact-form-contact-info">
            <p class="d-flex">
              <span class="ion-ios-location icon mr-5"></span>
              <span><%=items.adres%></span>
            </p>

            <p class="d-flex">
              <span class="ion-ios-telephone icon mr-5"></span>
              <span><%=items.telefon%></span>
            </p>

            <p class="d-flex">
              <span class="ion-ios-telephone icon mr-5"></span>
              <span><%=items.telefon2%></span>
            </p>
            <p class="d-flex">
              <span class="ion-android-mail icon mr-5"></span>
              <span><%=items.email%></span>
            </p>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    </div>
  </section>

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>


  <div class="col-12 text-md-center text-left">
    <p>
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script> Tüm hakları saklıdır <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://talpidaex.github.io" target="_blank" class="text-primary">Oguzhan Bayrak</a>
    </p>
  </div>


  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>

  <script src="js/main.js"></script>

</body>

</html>